:root 
{
    --cmp-c-Cyan: hsl(179, 62%, 43%);
    --cmp-c-CyanLighter: hsl(179, 62%, 48%);
    --cmp-c-BrightYellow: hsl(71, 73%, 54%);
    --cmp-c-Gray: hsl(204, 43%, 93%);
    --cmp-c-Blue: hsl(218, 22%, 67%);
    --cmp-c-White:white;

    --cmp-f-1: "Karla", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.78em 8%;
    background-color: var(--cmp-c-Gray);
}

* {
    box-sizing: border-box;
}
* :first-child {
    margin-top: 0;
}

* :last-child {
    margin-bottom: 0;
}


/* Typography */

#cmp 
{
    font-family: var(--cmp-f-1);
    line-height: 1.6;
}

#cmp__title
{
    color: var(--cmp-c-Cyan);
    font-size: 1.25rem;
}

#cmp__subtitle 
{
    color: var(--cmp-c-BrightYellow);
    font-size: .9375rem;
}

#cmp__header-body 
{
    font-size: 0.875rem;
    color: var(--cmp-c-Blue);
    line-height: 1.8;
}


.cmp__col 
{
    color: var(--cmp-c-White)
}

.cmp__col-title 
{
    font-size: 1.125rem;
}



#cmp__col-1-price .text
{
    opacity: 50%;
}

#cmp__col-1-price .price 
{
    font-size: 2rem;
    font-weight: bold;
}

.cmp__btn 
{
    background-color: var(--cmp-c-BrightYellow);
    border:none;
    color:inherit;
    padding: .9375em 0;
    width: 100%;
    border-radius: 5px;
}


#cmp__list {
    font-size: .875rem;
    list-style: none;
    padding-left: 0;
}


@media(min-width: 635px)
{
    #cmp__title 
    {
        font-size: 1.5rem;
    }

    #cmp__subtitle {
        font-size: 1.125rem;
    }

    #cmp__header-body 
    {
        font-size: 1rem;
        line-height: inherit;
    }

}


/* Layout */

#cmp 
{
    max-width: 635px;
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 25%);
}
#cmp__header {
    background-color: var(--cmp-c-White);
    padding:1.75em 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cmp__col 
{
    padding: 1.5em;
}

#cmp__col-1 
{
    background-color: var(--cmp-c-Cyan);
}

.cmp__btn {
    transition: all 300ms;
}
.cmp__btn:hover {
    filter:brightness(110%);
    transform: scale(1.1);
    cursor: pointer;
}

#cmp__col-2 
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--cmp-c-CyanLighter);
}


#cmp__list {
    opacity: 75%;
}



@media(min-width:635px)
{
    #cmp 
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }


    #cmp__header {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding: 2.5em;
    }
    .cmp__col {
        padding: 2.5em;
    }

    #cmp__col-1 
    {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
        border-bottom-left-radius: 5px;
    }

    #cmp__col-2 
    {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
        border-bottom-left-radius: 0px;
    }
}